.button {
  border: none;
  height: 38px;
  border-radius: 8px;
  color: var(--color-active);
  background: transparent;
  cursor: pointer;

  .icon,
  img {
    pointer-events: none;
  }
}

.button-role-main {
  color: white;
  background-color: var(--color-active);
}

.button-role-back {
  height: 100vh;
  min-width: 48px;
}

.button-role-attantion {
  color: var(--error-color);
}

.button-a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
