body {
  margin: 0;
}

.main-page {
  display: flex;

  & .profile {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 18px;
  }

  & .profile-link {
    border: none;
    background: transparent;
    text-decoration: none;
    font-size: 14px;
    padding-right: 8px;
  }
}

.navigation {
  height: 100vh;
  box-sizing: border-box;
  width: 310px;
  background-color: var(--bg-color);
  padding: 10px;
  border-right: 1px solid var(--border-color);

  & .search {
    margin-bottom: 12px;
  }
}
