body {
  margin: 0;
}

.main-page {
  display: flex;

  & .profile {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 18px;
  }

  & .profile-button {
    border: none;
    background: transparent;
    text-decoration: none;
    font-size: 14px;
    padding-right: 8px;
    height: 24px;
    margin-bottom: 12px;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: end;

    & .icon {
      pointer-events: none;
      margin-left: 8px;
    }

    .profile-button-text {
      pointer-events: none;
    }
  }
}

.navigation {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
  width: 310px;
  background-color: var(--bg-color);
  padding: 10px 0;
  border-right: 1px solid var(--border-color);

  & .search {
    margin-bottom: 12px;
  }

  .add-chat-button {
    width: 100%;
    border: none;
    box-sizing: border-box;
    height: 36px;
    cursor: pointer;
  }
}



