.form {
    display: flex;
    flex-direction: column;
    width: 340px
}

.form-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form__header {
    text-align: center;
}

.form__footer {
    margin-top: 48px;
    display: flex;
    flex-direction: column;

    & button {
        margin-top: 4px;
    }
}
