.modal {
  border: none;
  border-radius: 12px;
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 14%);
}

.login-list {
  margin-bottom: 12px;
}

.modal-body {
  display: flex;
  flex-direction: column;
}

.login-item {
  font-size: 12px;
}

.add-user-dialog-input {
  height: 24px;
  margin-bottom: 16px;
}
