.avatar {
    background-color: var(--bg-dark);
     width: 48px;
         height: 48px;
         border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;

    & img {
        width: 48px;
         height: 48px;
        border-radius: 50%;
    }
}

.avatar_m {
    width: 34px;
    height: 34px;

    & img {
        width: 34px;
         height: 34px;
    }
}

.avatar_l {
    width: 64px;
    height: 64px;

    & img {
        width: 64px;
         height: 64px;
    }
}
