.chat-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 2;
}

.chat-messages-list {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  overflow-y: auto;
}

.chat-content-header {
  display: flex;
  padding: 8px 16px;
  border-bottom: 1px solid var(--border-color);
  align-items: center;

  & #avatar-form {
    margin-right: 12px;
  }

  & .chat-content-header-breadcrumbs {
    margin-left: auto;
    border: none;
    background: transparent;
    cursor: pointer;

    & .icon {
      pointer-events: none;
    }
  }
}

.chat-content-footer {
  display: flex;
  width: 100%;
  min-width: 0;
  justify-content: space-between;
  margin-bottom: 12px;
  align-items: center;

  & .chat-content-button img {
    pointer-events: none;
  }

  & .chat-content-button-clip {
    background-color: transparent;
    border: none;
  }

  & .chat-content-input-container {
    flex: 2;
  }

  & .chat-content-input {
    box-sizing: border-box;
    background-color: var(--bg-dark);
    border: none;
    border-radius: 30px;
    padding: 0 12px;
    flex-grow: 2;
    height: 32px;
  }

  & .chat-content-input-container .validation-error {
    display: none;
  }

  & .chat-content-button-send {
    background: transparent;
    border: none;
  }
}

.chat-content-body {
  height: 100%;
  overflow: auto;
}
